name: Test and lint
on: push
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install gettext
        run: sudo apt-get install gettext
      - name: Update setuptools pip and wheel
        run: pip install -U setuptools pip wheel
      - name: Install testing requirements
        run: pip install -r requirements-test.txt
      - name: Run tests
        run: |
          pip install --editable .
          python scripts/messages.py compile
          python -m tests

  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Update setuptools pip and wheel
        run: pip install -U setuptools pip wheel
      - name: Install linting requirements
        run: pip install -r requirements-lint.txt
      - name: Lint code
        run: flake8 --verbose
