name: Run tests
on: push
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install gettext
        run: sudo apt-get install gettext
      - name: Update setuptools pip and wheel
        run: pip install -U setuptools pip wheel
      - name: Install testing requirements
        run: pip install -r requirements-test.txt
      - name: Run tests
        run: |
          pip install --editable .
          python scripts/messages.py compile
          python -m tests
